// vars of colors
$mainBlue: #2962FF;
$textColor: rgba(0, 0, 0, 0.87);

.itemCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
}

.itemCard__back {
    display: flex;
    margin-bottom: 22px;
    width: fit-content;
    cursor: pointer;
    &:hover {
        font-weight: 500;
    }
    &:hover .item__title_arrow {
        height: 4px;
        width: 17px;
    }
}

.itemCard__arrow {
    transform: rotate(180deg);
    margin-right: 8px;
}

.itemCard__back_text {
    font-size: 14px;
    line-height: 16px;
    color: $mainBlue;
}

.itemCard__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: $textColor;
    margin-bottom: 53px;
}

.itemCard__attr_unit {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.itemCard__attr_avatar {
    width: 100%;
    height: 100%;
}