<div class="itemCard">
    <div class="itemCard__back" (click)="closeCard()">
        <div class="item__title_arrow_container itemCard__arrow">
            <div class="item__title_arrow"></div>
            <a class="item__link"></a>
        </div>
        <span class="itemCard__back_text">Вернуться</span>
    </div>
    <h2 class="itemCard__title">{{title}}</h2>
    <div class="item__attr">
        <div class="item__attr_unit">
            <div class="item__attr_name">First Name</div>
            <div class="item__attr_info">{{firstName}}</div>
        </div>
        <div class="item__attr_unit">
            <div class="item__attr_name">Last Name</div>
            <div class="item__attr_info">{{lastName}}</div>
        </div>
    </div>
    <div class="item__attr">
        <div class="item__attr_unit">
            <div class="item__attr_name">Id</div>
            <div class="item__attr_info">{{id}}</div>
        </div>
        <div class="item__attr_unit">
            <div class="item__attr_name">E-mail</div>
            <div class="item__attr_info">{{email}}</div>
        </div>
    </div>
    <div class="item__attr">
        <div class="itemCard__attr_unit">
            <div class="item__attr_name">Avatar</div>
            <img class="itemCard__attr_avatar" src="{{avatarLink}}">
        </div>
    </div>
</div>