.main {
    background: #E5E5E5;
}

.main__title {
    margin-bottom: 64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
}