// vars
$mainBlue: #2962FF;

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100vh;
}

.main {
    background: #E5E5E5;
    width: 65%;
}

.main__title {
    margin: 64px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
}

.filters__component {
    width: 30%;
}

.card {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.marked {
    display: none;
}

.markedCard {
    display: flex;
}

.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pagination__arrow {
    width: 8px;
    height: 2px;
    background: $mainBlue;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    transform-origin: 0px 2px;
    &:after {
        display: block;
        content: "";
        width: inherit;
        height: inherit;
        background: inherit;
        transform: rotate(90deg);
        position: absolute;
        top: -3px;
        left: -3px;
    }
}

.pagination__arrow_right {
    transform: rotate(225deg);
    margin-left: 30px;
}

.pagination__item {
    cursor: pointer;
    margin: 0 20px;
}