<div class="wrapper">

  <div class="main" [ngClass]="{'marked': active}">
    <h1 class="main__title">Users</h1>
    <app-item 
        (outToParent)='receiveFromChild($event)'
        *ngFor="let user of response.data | search:searchStr; let idx = index"
        [user]="user"
        [index]="idx"
    ></app-item>
  </div>

  <app-filters
    class="filters__component"
    [ngClass]="{'marked': active}"
    [responseSearch]="response"
  ></app-filters>

  <app-card
    class="card"
    [ngClass]="{'markedCard': active}"
    (outToParent)='receiveFromChild($event)'
    [index]="index"
    [response]="response"
  ></app-card>

</div>