<div class="wrapper">

  <div class="main" [ngClass]="{'marked': active}">

    <h1 class="main__title">Users</h1>

    <input
      class="main__invisible"
      [(ngModel)]="searchUsersValue"
    >

    <app-item
      (outToParent)='receiveFromChild($event)'
      *ngFor="let user of users | searchUsers: searchUsersValue"
      [user]="user"
    ></app-item>

    <div class="pagination">
      <a 
        class="pagination__arrow"
        (click)="pageChangePrev($event)"
      ><</a>
      <a 
        class="pagination__item"
        *ngFor="let num of pages; let idx = index"
        (click)="pageChange(idx,$event)"
        [ngClass]="{'pagination__item_active': num == page}"
      >{{num}}</a>
      <a 
        class="pagination__arrow"
        (click)="pageChangeNext($event)"
      >></a>
    </div>
  </div>

  <app-filters
    class="filters__component"
    [ngClass]="{'marked': active}"
    [usersTotalLength]="usersTotalLength"
    (outToParentChosenUsers)='receiveChosenUsers($event)'
  ></app-filters>

  <app-card
    class="card"
    [ngClass]="{'markedCard': active}"
    (outToParent)='receiveFromChild($event)'
    [index]="index"
    [users]="users"
  ></app-card>
</div>