//vars of color
$filtersBckg: #FFFFFF;
$filtersBorderColor: #A5A5A5;

.filters {
    display: flex;
    justify-content: center;
    background: $filtersBckg;
    border-left: 1px solid $filtersBorderColor;
    width: 100%;
    height: 100vh;
}

.filters__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    width: 90%;
}

.filters__title {
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 48px;
}

.filters__input {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 41px;
    outline: none;
}

.filters__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.filters__choosen {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 6px;
}

.filters__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    height: 180px;
    overflow: hidden;
    transition: 0.3s;
    &:hover {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23), 0px 3px 6px rgba(0, 0, 0, 0.16);
        overflow-y: scroll;
    }
}

.filters__choose_label {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:first-child {
        margin-top: 16px;
    }
}

.filters__choose {
    margin: 0 15px;
}