<div class="filters">
    <div class="filters__wrapper">
        <div class="filters__title">Фильтры</div>
        <input class="filters__input" type="text" placeholder="Название" [(ngModel)]="searchStr">
        <div class="filters__unit">
            <div class="filters__subtitle">E-mail</div>
            <div class="filters__choosen">Выбраны 2</div>
            <form class="filters__items">
                <label 
                    class="filters__choose_label"
                    *ngFor="let email of responseSearch.data | search:searchStr"
                    [email]="email"
                >
                    <input class="filters__choose" type="checkbox">
                    <span class="filters__choose_text">{{email.email}}</span>
                </label>
            </form>
        </div>
        <div class="filters__unit">
            <div class="filters__subtitle">Тип</div>
            <form class="filters__items">
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Barge</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Cargo</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Tug</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">&&&</span>
                </label>
            </form>
        </div>
    </div>
</div>
