<div class="filters">
    <div class="filters__wrapper">
        <div class="filters__title">Фильтры</div>
        <input class="filters__input" placeholder="Название">
        <div class="filters__unit">
            <div class="filters__subtitle">Порт</div>
            <div class="filters__choosen">Выбраны 2</div>
            <form class="filters__items">
                <label class="filters__choose_label">
                    <input class="filters__choose" type="checkbox">
                    <span class="filters__choose_text">Port Canaveral</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="checkbox">
                    <span class="filters__choose_text">Port Canaveral</span>
                </label> 
                <label class="filters__choose_label">
                    <input class="filters__choose" type="checkbox">
                    <span class="filters__choose_text">Port Canaveral</span>
                </label>
            </form>
        </div>
        <div class="filters__unit">
            <div class="filters__subtitle">Тип</div>
            <form class="filters__items filters__items_radio">
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Barge</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Cargo</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">Tug</span>
                </label>
                <label class="filters__choose_label">
                    <input class="filters__choose" type="radio">
                    <span class="filters__choose_text">&&&</span>
                </label>
            </form>
        </div>
    </div>
</div>
