<div class="filters">
    <div class="filters__wrapper">
        <div class="filters__title">Фильтры</div>
        <input class="filters__input" type="text" placeholder="Поиск по E-mail" [(ngModel)]="searchStr">
        <div class="filters__unit">
            <div class="filters__subtitle">E-mail</div>
            <div class="filters__choosen">Выбраны {{count}}</div>
            <!-- {{checkedCount()}} -->
            <form class="filters__items">
                <label 
                    class="filters__choose_label"
                    *ngFor="let email of users | search:searchStr"
                    [email]="email"
                >
                    <input class="filters__choose" type="checkbox">
                    <span class="filters__choose_text">{{email.email}}</span>
                </label>
            </form>
        </div>
        <div class="filters__unit">
            <div class="filters__subtitle">Имя и фамилия</div>
            <form class="filters__items">
                <label
                    class="filters__choose_label"
                    *ngFor="let item of users"
                    [item]="item"
                >
                    <input class="filters__choose" type="radio" name="name">
                    <span class="filters__choose_text">{{item.first_name + " " + item.last_name}}</span>
                </label>
            </form>
        </div>
    </div>
</div>